<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400827424217-atsdgqo8n41qao49qnt2qi1hfc7qjln5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400827424217-atsdgqo8n41qao49qnt2qi1hfc7qjln5</string>
	<key>API_KEY</key>
	<string>AIzaSyDz2yG_5iFfN9uT0bmhAhKoFNFqwbn3huY</string>
	<key>GCM_SENDER_ID</key>
	<string>400827424217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProjectApi</string>
	<key>PROJECT_ID</key>
	<string>final-project-api-4c17a</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-api-4c17a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400827424217:ios:13045cdc776d0d9bda0dc8</string>
</dict>
</plist>